*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --teal: #026670;
  --turquoise: #9fedd7;
  --dark-yellow:#fce181;
  --light-yellow:#fef8c7;
  --grey: #edeae5;
  --white: #e6f1ff;
  --wine-red: #c34271;
  --gap-lg: 3rem;
  --gap-std: 2rem;
  --gap-sm: 1rem;

}
 
html {
    margin: 0 auto;
    max-width: 70em;
    background-size: cover;
    background-blend-mode: normal;
    border-radius: 6px;
    background-color: var(--light-yellow); 
    background-image: linear-gradient(#9fedd7, #fce181, #ffffff); 
  }
  
body {
    padding: 0 3em;
    font-family: "Lobster", 'Helvetica', 'Arial';
    row-gap: var(--gap-lg);
  }
header {
    text-align: center;
    margin: 2em;
    color: var(--wine-red);
    letter-spacing: 6px;
    text-shadow: 2px 2px;
    word-spacing: 10px;
  }

/* search window */

.search {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 2px;
  box-sizing: border-box;
  border: 2px solid var(--turquoise);
  border-radius: 4px;
}

label,
p {
  line-height: 1.6;
  font-size: 1.25rem;
  color: var(--teal);
  text-align: center;
  font-weight: 500;
}


main {
  position: relative;
  text-align: center;
  border-radius: 6px;
  
}
section {
  padding: 80px 32px;
  background-color: var(--grey);
  border-radius: 6px;
}

/* button */

  button {
  display: inline-block;
  background-color: var(--turquoise);
  border: 2px solid var(--turquoise);
  color: var(--teal);
  padding: 10px 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 6px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  transform: scale(1.1);
  background: var(--teal);
  border: 2px solid var(--teal);
  color: var(--grey);
}


.p_recipe {
  color: var(--teal);
  font-weight: 600;
  line-height: 20px;
}
#spoonacular-testing-area a{
  color: #c34271;
  font-weight: bold;
}

#spoonacular-testing-area a:hover {
  color: var(--wine-red);
  text-transform: uppercase;
  font-size: larger;
}  

 /* footer */
  footer {
    border-top: 1px solid var(--light-yellow);
    font-family: monospace;
    margin-top: 3em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    line-height: 18px;
    text-align: center;
    background: var(--light-yellow);
    opacity: 0.9;
    border-radius: 6px;
  }
  
  footer a {
    color: var(--turquoise);
    font-weight: 600;
  }
  footer a:hover {
    text-transform: uppercase;
    font-size: larger;
    color: var(--wine-red);
  }
  
  