*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --teal: #026670;
  --turquoise: #9fedd7;
  --dark-yellow:#fce181;
  --light-yellow:#fef8c7;
  --grey: #edeae5;
  --white: #e6f1ff;
  --gap-lg: 3rem;
  --gap-std: 2rem;
  --gap-sm: 1rem;

}
 
html {
    margin: 0 auto;
    max-width: 75em;
    background-color: var(--light-yellow); 
    /* background-image: linear-gradient(#e6ffcc, #fff8dc, #ffffff);  */
  }
  
  body {
    padding: 0 3em;
    font-family: "Lobster", 'Helvetica', 'Arial';
  }

  

  button {
  display: inline-block;
  background-color: var(--turquoise);
  border: 2px solid var(--teal);
  color: #262a22;
  padding: 10px 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  transform: scale(1.1);
  background: var(--teal);
}

  




  /* footer */
  footer {
    border-top: 1px solid #ffffcc;
    font-family: monospace;
    margin-top: 5em;
    padding-top: 2em;
    line-height: 18px;
    text-align: center;
    background: #fff8dc;
  }
  
  footer a {
    color: var(--teal);
    font-weight: 600;
  }
  footer a:hover {
    text-transform: uppercase;
    font-size: larger;
  }
  
  